@import "partials/mixins";
@import "partials/params";

.header {
  @include flex-center;
  flex: 1 0 auto;
  color: #fff;
  background: url('img/header_bg.jpg') no-repeat;
  background-size: cover;

  &__title {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 15px;

  }

  &__subtitle {
    font-size: 32px;
    font-style: italic;
  }
}